.navItem{
    height: 35px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.navItem:hover {
    text-decoration: underline;
    cursor: pointer;
}

.navItem .icon{
    width: 28px;
    margin-right: 15px;
    position:relative;
    top: -3px;
}
.navItem .link {
    text-decoration: none;
    color: #8689a6;
}

.navItem .link:hover{
    color:#515365;
}

.navItem .activeLink{
    color:#515365;
    text-decoration: underline;
}


