.profileData{
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 5px;
    color:#515365;
    align-content: start;
    padding-top: 10px;
}

.profileData .editWrap{
    justify-self: end;
    cursor: pointer;
    margin: 5px 20px 0 0;
    font-size: 14px;
}

.profileData .editWrap .editMode{
    font-size: 11px;
}

.profileData .contact{
    padding: 5px 0 0 10px;
    color: #515365;
}



