
.contentBlock{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 14px;
    padding: 5px 20px;
}

.contentBlock .header{
    padding: 5px 0;
    font-weight: bolder;
    color: #515365;
}

.contentBlock .content{
    color: #515365;
}