.profileHeader{
    height: 20%;
    display: grid;
    grid-template-columns: 300px 3fr;
    justify-content: space-between;
    align-items: center;
    color: #515365;
    font-weight: bolder;
}

.profileHeader .status{
    margin-left: 20px;
}

.profileHeader .editProfile{
    justify-self: end;
}

.profileHeader .name{
    position: absolute;
    top:260px;
    left:calc(50% - 150px);
    font-size: 18px;
    font-weight: bolder;
    width: 300px;
    text-align: center;
}