.header{
    grid-area: header;
    background-color: #3F4257;
    display: grid;
    grid-template: 100% / 1fr 5fr 3fr;
    color: #ffffff;
}

.header .logoIcon{
    align-self: center;
    justify-self: right;
    padding-right: 20px;
    width:40px;
    height: 40px;
}

.header .logoIcon img{
    width: 40px;
}

.header .logoText{
    align-self: center;
    font-style: italic;
}

.header .language{
    display:grid;
    grid-template: 1fr/1fr 1fr 1fr 1fr 20%;
    justify-content: center;
    align-items: center;
}







