.navBar{
    grid-area: navbar;
    display: grid;
    align-content: start;
    padding-top: 30px;
    background-color: #D7D7D7;
}

.navBar .navItem{
    height: 30px;
    padding-left: 50px;
}

.navBar .navItem a{
    text-decoration: none;
    color: #000000;
}


