.interlocutorsBlock {
    grid-area: friends;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: auto;
}

.interlocutorsBlock .interlocutorsHeader{
    border-bottom: 1px #cec9d1 solid;
    padding: 15px;
    color: #515365;
    font-weight: bolder;
}

.interlocutorsBlock .interlocutorsHeader span{
    padding-left: 10px;
}

.interlocutorsBlock .interlocutors{
    padding: 10px;
}