.messageCreate{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 9fr;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
}

.messageCreate .avatar{
    width: 50px;
    border-radius: 25px;
    margin-right: 20px;
}

.messageCreate .form {
    display: grid;
    grid-template-rows: 1fr auto;
}

.messageCreate .form .buttonBlock{
    margin-top: 10px;
    justify-self: end;
}



