.messageCreate{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 70px 1fr;
    padding: 10px 25px 10px 25px;
    width: calc(100% - 50px);
}

.messageCreate .avatar{
    width: 50px;
    margin-right: 20px;
}

.messageCreate .form {
    display: grid;
    grid-template-rows: 1fr auto;
}

.messageCreate .form .buttonBlock{
    margin-top: 10px;
    justify-self: end;
}



