.textarea {
    width:calc(100% - 5px);
    height:40px;
    border: 1px #cec9d1 solid;
    border-radius: 5px;
    resize: none;
}

.input {
    height: 25px;
}

.error {
    border: 1px solid red;
}

.errorText {
    color:red;
}
