.postBlock{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.postBlock .postHeader {
    height: 50px;
    display: grid;
    grid-template-areas: "ava name"
                         "ava time";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 9fr;
    margin-bottom: 10px;
}

.postBlock .postHeader .avatar{
    grid-area: ava;
    width: 50px;
    border-radius: 25px;
    padding-right: 20px;
}

.postBlock .postHeader .name{
    font-weight: bolder;
    color:#515365;
}

.postBlock .postHeader .time{
    font-size: 14px;
    color:#A9ACC0;
}


.postBlock .postMessage {
    color:#A9ACC0;
    padding-bottom: 20px;
    border-bottom: 1px #E6ECF5 solid;
}

.postBlock .postReview {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.postBlock .postReview .like {
    justify-self: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.postBlock .postReview .like img{
    width: 40px;
}

.postBlock .postReview .comment{
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.postBlock .postReview .comment img{
    width: 40px;
}

.postBlock .postReview .like span,
.postBlock .postReview .comment span {
    align-self: center;
    color: #A9ACC0;
}





