.login{
    grid-area: login;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
}

.login .loginForm{
    display: grid;
    justify-items: center;
    grid-template-rows: 2fr 2fr 2fr 2fr 1fr;
    align-content: space-evenly;
}

.login .loginForm .formHeader{
    display: grid;
    justify-content: center;
    align-content: start;
    padding-top: 10px;
    color: #515365;
}

.login .loginForm .inputs{
    height: 25px;
    width: 85%;
}

.login .loginForm .submitBtn{
    height: 31px;
    color: #ffffff;
    width: 85%;
    background-color: #3F4257;
    border: none;
}

