.App {
  display: grid;
  grid-template-areas: "header header"
                       "login photoBG"
                       "navbar mainBlockWrap";
  grid-gap: 5px;
  width:65%;
  margin:0 auto;
  grid-template-columns: 2fr 9fr;
  grid-template-rows: 80px 200px 1fr;
}

.mainBlockWrap {
    grid-area: mainBlockWrap;
}


