.App {
  display: grid;
  grid-template-areas: "header header"
                       "login main"
                       "navbar main";
  grid-gap: 5px;
  width:65%;
  margin:0 auto;
  grid-template-columns: 2fr 9fr;
  grid-template-rows: 70px 200px 1fr;
}


