.dialogsWrap{
    display: grid;
    grid-gap: 10px;
    background-image: url('../../images/cityBG.jpg');
    background-size: cover;
}

.dialogsWrap .dialogsBlock{
    display: grid;
    height: calc(100vh - 210px);
    width: calc(100% - 100px);
    padding: 20px 50px;
    margin: 0 auto;
}

.dialogsWrap .dialogsBlock .avatar{
    width: 50px;
}
