.loginWrap{
    grid-area: login;
    background-color: #ffffff;
    display: grid;
}

.loginWrap h3{
  margin: 0;
}

.loginForm {
    height: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-rows: 3fr 3fr 2fr 2fr;
}

.loginAuth{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-rows: 4fr 1fr 1fr 1fr ;
    align-items: center;
}

.header{
    display: grid;
    justify-content: center;
    align-content: center;
    color: #515365;
    width: 100%;
}

/*.loginForm .inputs{*/
/*    height: 25px;*/
/*}*/

.loginForm .rememberMe{
    cursor: pointer;
    justify-self: flex-start;
}

.loginAuth .exit{
    justify-self: end;
    color: #8689A6;
    cursor: pointer;
}

